<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/contribuer">Contribuer</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Liste des Randonnées</h1>
        <ul>
            <% hikes.forEach(hike => { %>
                <li>
                    <a href="/randonnee/<%= hike.id %>">
                        <%= hike.nom %>: Départ à <%= hike.adresse_depart %> - <%= hike.description %>
                        <% if (hike.image) { %>
                            <img src="<%= hike.image %>" alt="Image de <%= hike.nom %>" style="width:100px;height:auto;">
                        <% } %>
                    </a>
                </li>
            <% }); %>
        </ul>
    </main>
</body>
</html>
